/*  font-family: 'Josefin Slab', serif;

    font-family: 'Playfair Display', serif;*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

span {
    font-style: italic;
}

body {
    height: 2000px;
}

/*HEADER*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.637);
    font-family: 'Playfair Display', serif;
    height: 5rem;
    z-index: 999;
}

header>.logo {
    font-size: 2.3rem;
    flex: 1;
    padding-left: 3%;
    display: flex;
    align-items: center;
}


header ul {
    flex-basis: 30rem;
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

header li {
    list-style-type: none;
    text-decoration: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms;
}

header li:hover {
    background-color: #ffffffc9;
}

header li a {
    text-decoration: none;
    color: black;
}

.menu-icon {
    display: none;
}

/*HERO SECTIONS*/

.hero {
    background-image: url(./zach-miller-khojR5mQsys-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40rem;
    position: relative;
    z-index: -3;
}

.hero .message {
    font-size: 10rem;
    color: white;
    font-family: 'Playfair Display', serif;
    line-height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3%;
}

/*TEAM PART*/

.team-container h1 {
    margin-top: 7rem;
    font-size: 7rem;
    font-family: 'Josefin Slab', serif;
    padding: 3%;
}
.team {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    font-family: 'Josefin Slab', serif;

}

.member {
    width: 22rem;
}

.member img {
    
    border-radius: 10px;
    max-width: 100%;
    height: 30rem;
    object-fit: cover;
}

.member h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.member p {
    font-size: 1.5rem;
}

/*MISSION BOX*/

.mission-box {
    margin-top: 5rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    padding: 3%;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.mission-box img {
    max-width: 100%;
    height: 35rem;
    object-fit: cover;
    border-radius: 10px;
    flex:1;
}

.three-words {
    padding: 3%;
    flex: 1;
    color: white;
    font-size: 7rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:center;
    font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 970px) {
    .three-words {
        font-size: 3rem;
        flex-direction: row;
        gap: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .three-words {
        font-size: 2rem;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
    }
}

/*LOCATION*/
.location {
    padding: 3%;
    padding-top: 5rem;
    display: flex;
    font-family: 'Josefin Slab', serif;
    font-size: 3rem;
}
.location img {
    height: 30rem;
    object-fit: cover;
    border-radius: 10px;
}

.location p {
    margin: 1rem;
}

.address {
    flex:1;
    display:flex;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
}

/*Tired as fuck, no imagination left. Spend the whole day doing this shit*/
.random-text {
    font-size: 2rem;
}

@media only screen and (max-width: 840px) {
    .location {
        display: flex;
        flex-direction: column;
    }
    .location p {
        font-size: 2rem;
    }
}

/*FOOTER*/

footer {
    height: 7rem;
    width: 100%;
    background-color: black;
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
}

footer p {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 684px) {
    header li {
        display: none;
    }

    .menu-icon {
        display: flex;
        justify-content: end;
    }

    .hero .message {
        font-size: 5rem;
    }
}